body,
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body {
  font: normal normal 14px/19px Arial, sans-serif;
  letter-spacing: 1px;
  margin: 0;
  background: #ffffff;
}
::-moz-selection {
  background: #f37043;
  color: #ffffff;
}
::selection {
  background: #f37043;
  color: #ffffff;
}
.clearfix {
  display: inline-block;
}
.clearfix::after {
  content: "";
  visibility: hidden;
  display: inline-block;
  font-size: 0;
  clear: both;
  height: 0;
}
.outer {
  display: table;
  margin: 0 auto;
  height: 100%;
}
.middle {
  display: table-cell;
  vertical-align: middle;
}
.main {
  position: relative;
  height: 190px;
  margin: 18px;
}
@media (max-width: 550px) {
  .main {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
}
@media (max-width: 440px) {
  .main {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
.buddha {
  position: relative;
  width: 128px;
  height: 190px;
  -webkit-animation: animUpDown 3s ease-in-out infinite;
  animation: animUpDown 3s ease-in-out infinite;
}
.buddha .legs {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 128px;
  height: 50px;
  border-radius: 50px;
}
.buddha .tail {
  position: absolute;
  bottom: 10px;
  left: 15px;
  width: 98px;
  height: 82px;
  border-radius: 38px;
}
.tail.random, .legs.random {
  -webkit-animation: random 4s ease infinite;
  animation: random 4s ease infinite;
}
.buddha .head {
  position: absolute;
  top: 0px;
  left: 2px;
  width: 124px;
  height: 124px;
  border-radius: 124px;
  background: #f2bc9b;
  transition: all 10s ease;
}
.head:hover {
  transform: rotate(720deg);
}
.buddha .ears {
  position: absolute;
  bottom: 28px;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  background: #f2bc9b;
}
.buddha .ears.left {
  left: -10px;
}
.buddha .ears.right {
  right: -10px;
}
.buddha .hand {
  position: absolute;
  bottom: 25px;
  left: 50%;
  width: 34px;
  height: 34px;
  border-radius: 34px;
  background: #f2bc9b;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.buddha .mouth {
  position: absolute;
  bottom: 25px;
  left: 50%;
  width: 16px;
  height: 6px;
  margin-left: -12px;
  border: 5px solid #f05978;
  border-top: 0;
  border-radius: 0 0 20px 20px / 0 0 16px 16px;
}
.buddha .circle {
  position: absolute;
  top: 45px;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: #f05978;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.buddha .eye {
  position: absolute;
  bottom: 50px;
  width: 10px;
  height: 5px;
  border: 6px solid #363635;
  border-bottom: 0;
  border-radius: 10px 10px 0 0 / 10px 10px 0 0;
}
.buddha .eye.left {
  left: 25px;
}
.buddha .eye.right {
  right: 25px;
}
.center {
  text-align: center;
}
.shadow {
  position: absolute;
  bottom: -40px;
  display: block;
  width: 128px;
  height: 50px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -webkit-animation: animShadow 3s ease-in-out infinite;
  animation: animShadow 3s ease-in-out infinite;
}

@keyframes random {
  0%,
  100% {
    background: #f37043;
  }
  33% {
    background: #4caf50;
  }
  66% {
    background: #9c27b0;
  }

}
@-webkit-keyframes animShadow {
  0%,
  100% {
    -webkit-transform: scale(1) rotateX(100deg);
    transform: scale(1) rotateX(100deg);
  }
  50% {
    -webkit-transform: scale(0.7) rotateX(100deg);
    transform: scale(0.7) rotateX(100deg);
  }
}
@keyframes animShadow {
  0%,
  100% {
    -webkit-transform: scale(1) rotateX(100deg);
    transform: scale(1) rotateX(100deg);
  }
  50% {
    -webkit-transform: scale(0.7) rotateX(100deg);
    transform: scale(0.7) rotateX(100deg);
  }
}
@-webkit-keyframes animUpDown {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}
@keyframes animUpDown {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}
.main:hover .buddha .head {
  -webkit-animation: animTopBottom 1s infinite;
  animation: animTopBottom 1s infinite;
}
@-webkit-keyframes animTopBottom {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  75% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes animTopBottom {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  75% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
